@font-face {
	font-family: Plus Jakarta Sans;
	src: url(/assets/fonts/static/PlusJakartaSans-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Plus Jakarta Sans;
	src: url(/assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
	font-weight: 800;
}